---
interface Props {
	title?: string;
	description?: string;
	song_url?: string;
	image_url?: string;
}

const { 
	title = "Smol", 
	description = "Smol art onchain",
	song_url = "https://cdn2.aisonggenerator.io/491bb94b-79df-41bb-b09b-2d295f1dfd05.mp3",
	image_url = "https://smol.xyz/meta.png?v=1",
} = Astro.props;

import Header from '../components/Header.svelte'
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href={image_url || "/favicon.png"} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website">
		<meta property="og:url" content={Astro.url} />
		<meta property="og:image" content=`${image_url}?scale=16` />
		<meta property="og:audio" content={song_url} />
		<meta property="og:audio:type" content="audio/mpeg" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content=`${image_url}?scale=16` />
		<meta name="twitter:url" content={Astro.url} />
	</head>
	<body>
		<Header client:only />
		<slot />
	</body>
</html>
