---
interface Props {
	title: string;
	description: string;
	song_url: string;
	image_url: string;
}

const { 
	title = "Smol", 
	description = "Smol art onchain",
	song_url = "https://cdn2.aisonggenerator.io/04eeed9d-4c63-4e54-ad7a-d25cbd89dc2a.mp3",
	image_url = "https://smol.xyz/meta.png?v=1",
} = Astro.props;

import Header from '../components/Header.svelte'
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="music.song" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:image" content={image_url} />
		<meta property="og:audio" content={song_url} />
		<meta property="og:audio:type" content="audio/mpeg" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={image_url} />
		<meta name="twitter:url" content={Astro.url} />
	</head>
	<body>
		<Header pathname={Astro.originPathname} client:only />
		<slot />
	</body>
</html>
