---
import Header from '../components/Header.svelte'
import '../styles/global.css'

interface Props {
	title?: string;
	description?: string;
	song_url?: string | null;
	image_url?: string | null;
}

const { 
	title, 
	description = "Smol art onchain",
	song_url = "https://cdn2.aisonggenerator.io/491bb94b-79df-41bb-b09b-2d295f1dfd05.mp3",
	image_url,
} = Astro.props;

let _kid = null
let _cid = null

const token = Astro.cookies.get('smol_token')?.value?.split('.')?.[1];

if (token) {
	const { sub, key } = JSON.parse(atob(token));
	
	_kid = key;
	_cid = sub;
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="robots" content="index, follow" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href={image_url ? image_url : "/favicon.png"} />
		<link rel="icon" type="image/png" href={image_url ? image_url : "/favicon.png"} />
		<meta name="generator" content={Astro.generator} />
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-mobile-web-app-title" content={title}>
		<meta name="theme-color" content="#020618">
		<link rel="manifest" href="/manifest.json">

		<title>{title}</title>

		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="music.song" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:image" content={image_url ? `${image_url}?scale=16` : "/meta.png"} />
		<meta property="og:audio" content={song_url} />
		<meta property="og:audio:type" content="audio/mpeg" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={image_url ? `${image_url}?scale=16` : "/meta.png"} />
		<meta name="twitter:url" content={Astro.url} />
	</head>
	<body class="bg-slate-950 text-white">
		<Header {_kid} {_cid} client:load />
		<slot />
	</body>
</html>
