---
import { ClientRouter } from 'astro:transitions';
import Header from '../components/Header.svelte'
import MixtapeBuilderOverlay from '../components/mixtape/MixtapeBuilderOverlay.svelte'
import BarAudioPlayer from '../components/audio/BarAudioPlayer.svelte'
import '../styles/global.css'

interface Props {
	title?: string;
	description?: string;
	song_url?: string | null;
	image_url?: string | null;
}

const {
	title,
	description = "Smol art onchain",
	song_url = "https://cdn2.aisonggenerator.io/491bb94b-79df-41bb-b09b-2d295f1dfd05.mp3",
	image_url,
} = Astro.props;

let _kid = null
let _cid = null

const token = Astro.cookies.get('smol_token')?.value?.split('.')?.[1];

if (token) {
	const { sub, key } = JSON.parse(atob(token));

	_kid = key;
	_cid = sub;
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="index, follow" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href={image_url ? image_url : "https://smol.xyz/favicon.png"} />
		<link rel="icon" type="image/png" href={image_url ? image_url : "https://smol.xyz/favicon.png"} />
		<meta name="generator" content={Astro.generator} />
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-mobile-web-app-title" content={title}>
		<meta name="theme-color" content="#9ae600">
		<link rel="manifest" href="/manifest.json">
		<ClientRouter />

		<title transition:animate="fade">{title}</title>
		<meta name="description" content={description}>
		<!-- <meta name="medium" content="audio"> -->
		<link rel="canonical" href={Astro.url}>

		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="music.song" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:image" content={image_url ? `${image_url}?scale=16` : "https://smol.xyz/meta.png"} />
		<!-- <meta property="og:image:width" content="1024">
		<meta property="og:image:height" content="1024"> -->
		<!-- <meta property="og:image:type" content="image/png"> -->
		<meta property="og:audio" content={song_url} />
		<meta property="og:audio:type" content="audio/mpeg">

		<!-- <link rel="alternate" type="application/json+oembed" href="//embed//"> -->

		<!-- <meta property="og:video" content="">
		<meta property="og:video:secure_url" content="">
		<meta property="og:video:type" content="video/mp4">
		<meta property="og:video:width" content="1024">
		<meta property="og:video:height" content="1024">
		<meta property="og:type" content="video.other"> -->

		<!-- <meta name="twitter:card" content="player" /> -->
		<meta name="twitter:card" content="summary_large_image" />
		<!-- <meta name="twitter:site" content="@smolxyz"> -->
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={image_url ? `${image_url}?scale=16` : "https://smol.xyz/meta.png"} />
		<meta name="twitter:url" content={Astro.url} />
		<!-- <meta name="twitter:player" content="//embed//"> -->
		<!-- <meta name="twitter:player:stream" content={song_url}>
		<meta name="twitter:player:width" content="760">
		<meta name="twitter:player:height" content="240"> -->
	</head>
	<body class="bg-slate-950 text-white">
		<Header {_kid} {_cid} client:only="svelte" transition:persist="header" />
		<MixtapeBuilderOverlay client:only="svelte" transition:persist="mixtape-overlay" />
		<BarAudioPlayer client:only="svelte" transition:persist="audio-player" />
		<slot />
	</body>
</html>
