---
interface Props {
	title?: string;
	description?: string;
	song_url?: string;
	image_url?: string | null;
}

const { 
	title, 
	description,
	song_url,
	image_url,
} = Astro.props;

import Header from '../components/Header.svelte'
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="robots" content="index, follow" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href={title !== 'Smol' && image_url ? image_url : "/favicon.png" }>
		<link rel="icon" type="image/png" href={title !== 'Smol' && image_url ? image_url : "/favicon.png" } />
		<meta name="generator" content={Astro.generator} />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-mobile-web-app-title" content={title}>
		<meta name="theme-color" content="#020618">
		<link rel="manifest" href="/manifest.json">

		<title>{title}</title>

		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="music.song" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:image" content=`${image_url}?scale=16` />
		<meta property="og:audio" content={song_url} />
		<meta property="og:audio:type" content="audio/mpeg" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content=`${image_url}?scale=16` />
		<meta name="twitter:url" content={Astro.url} />
	</head>
	<body class="bg-slate-950 text-white">
		<Header client:only />
		<slot />
	</body>
</html>
